<h2 style="padding-top:2%"></h2>


<a *ngFor="let qstn of questionService.questions" >
  <div class="col-md-1"><a data-toggle="collapse" href="#{{qstn._id}}"><img src="../../../../../assets/images/qaforum/q.png"></a></div>  
  <div class="col-md-11">
    <a data-toggle="collapse" href="#{{qstn._id}}">
    <div class="row">
      <div class="col-md-10">
        <h4>{{qstn.title}}</h4>
      </div>
      <div  class="col-md-2">
        <label *ngIf="qstn.answers.length===1">{{qstn.answers.length}} response</label>
        <label *ngIf="qstn.answers.length!=1">{{qstn.answers.length}} responses</label>
      </div>
    </div>
    <h5>
      {{qstn.description}}
    </h5></a>
    <hr >
    <div class="row" style="float:right; padding-right: 7%">
      <a *ngIf="currentuser && qstn.author.username==currentuser.username" class="btn btn-primary btn-sm" (click)="onDelete(qstn._id)"> Delete 
          </a>
    </div>
      <a>
        <h6 style="padding-top:2%">{{qstn.author.username}} on {{qstn.date| date:"MMM d, y h:mm a"}}</h6>
    </a>
    <!-- <a *ngIf="currentuser && qstn.author.username==currentuser.username">
        <h6>{{qstn.date| date:"MMM d, y h:mm a"}}</h6>
    </a> -->
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
    <div id="{{qstn._id}}" class="panel-collapse collapse">
      
        <div *ngFor="let ans of qstn.answers">
          <div class="row"><hr>
          <div class="col-md-1">
              <img src="../../../../../assets/images/qaforum/a.png">
          </div>
          <div class="col-md-8">
              <h5>{{ans.text}}</h5>
              <!-- <a *ngIf="currentuser && ans.author.username==currentuser.username">
                  <h6>{{ans.date| date:"MMM d, y h:mm a"}}</h6>
              </a> -->
              <a><h6>{{ans.author.username}} on {{ans.date| date:"MMM d, y h:mm a"}}</h6></a>
          
          </div>
          <div class="col-md-2"> 
              <a *ngIf="currentuser && ans.author.username==currentuser.username" class="btn btn-primary btn-sm" (click)="onAnswerDelete(ans._id)"> Delete 
                </a>
             </div>
            
          </div>
          
        </div>
        <hr>
        <form  [formGroup]="answerForm" (ngSubmit)="onSubmit(qstn._id)">
        <div class="col-md-10">
      <input *ngIf="currentuser || isLoggedIn=='true'" type="text" formControlName="answer"  minlength=5 class="form-control" placeholder="State your opinion" required>
         </div>
        <div class="col-md-1"><button *ngIf="currentuser || isLoggedIn=='true'" class="btn btn-primary" >Post</button>
        </div> 
        </form>    
  </div>
  </div>
      </div>
  </div>
  .
  <hr class="style13">
</a>
