<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Would you like to rate me?</p>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
  <div class="example-button-row">
    <button mat-icon-button>
      <mat-icon >star</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon >star</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon >star</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon >star</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon >star</mat-icon>
    </button>
  </div>


  
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
