.jumbotron{
    background-image: url(src/assets/img/cover2.jpg);
    background-size: cover;
}

.header{
    float: left;
}

.regbutton{
   font-size: 20px;
}

.col-md-2 button{
    padding-left: 20px;

}

.active{
    background: #FFDD00 !important;
    color: black !important
}