<div class="wrapper ">
    <app-sidebar></app-sidebar>
  
    <div class="main-panel" id="main-panel">
      <app-navbar></app-navbar>
  
      <div class="panel-header panel-header-lg">
      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Guide Analysis</h5>
                <h4 class="card-title">Tour Guide Stats</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Image
                      </th>
                      <th>
                        Rating
                      </th>
                      <th>
                          Tour Count
                        </th>
                        <th>
                            Contact
                          </th>
                          <th>
                              Salary
                            </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dinali Perera
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          5
                        </td>
                        <td>
                            25
                          </td>
                          <td>
                              0786547654
                            </td>
                            <td>
                                55 000
                              </td>
                      </tr>
                      <tr>
                          <td>
                            Nisam Silva
                          </td>
                          <td>
                            
                          </td>
                          <td>
                            4
                          </td>
                          <td>
                              32
                            </td>
                            <td>
                                0786547654
                              </td>
                              <td>
                                  65 000
                                </td>
                        </tr>
                        <tr>
                            <td>
                              Dinali Perera
                            </td>
                            <td>
                              
                            </td>
                            <td>
                              5
                            </td>
                            <td>
                                25
                              </td>
                              <td>
                                  0786547654
                                </td>
                                <td>
                                    55 000
                                  </td>
                          </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://www.ecotravels.com">
                  Website
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script> Eco Travels & Tours
          </div>
        </div>
      </footer>
    </div>
  </div>
  