
<!-- <div class="wrapping">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12 ">
        <h1 style="text-align:center;">Manage guids</h1>
      </div>
      <div class="col-md-12" style="text-align:right;">
        <div class="regbutton">
          <button class="btn btn-success" (click)="registerGuide()">Register Guides</button>
        </div>
      </div>
    </div>
 
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary">Send Emails</button>
    </div>
    <div class="col-md-10">
      <div *ngIf="openreg" class="container">
        <app-register-guide [state]=openreg></app-register-guide>
        <br>
      </div>

      <div class="container">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tour Guid Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone number</th>
              <th scope="col">Email</th>
              <th scope="col">state</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let guide of guides">
              <th>{{guide.Id}}</th>
              <th>{{guide.Name}}</th>
              <th>{{guide.Address}}</th>
              <th>{{guide.phone}}</th>
              <th>{{guide.email}}</th>
              <th>{{guide.state}}</th>
              <button type="button" class="btn btn-outline-primary"> Alocate</button>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div> -->

<div class="wrapper ">
    <app-sidebar></app-sidebar>
  
    <div class="main-panel" id="main-panel">
      <app-navbar></app-navbar>
  
      <div style="height: 10px;padding:1" class="panel-header">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Guide Analysis</h5>
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Tour Guide Stats</h4>
                  </div>
                  <div class="col-md-6"> Sort by
                    <a class="btn btn-success" (click)="rateSort()">Rating</a>
                    <a class="btn btn-danger" (click)="tourSort()">Tour Count</a>
                    <a class="btn btn-info" (click)="salarySort()">Salary</a>
    
                  </div>
                 
                </div>
                
              </div>
              <div class="card-body">
                  <div class="col-md-4">
                      <a class="btn btn-success" routerLink="/regGuide" >Add Guide</a>
                      
                    </div>
                    <div class="container">
                      <router-outlet></router-outlet>
                    </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Image
                      </th>
                      <th>
                        Rating
                      </th>
                      <th>
                          Tour Count
                        </th>
                        <th>
                            Contact
                          </th>
                          <th>
                              Salary
                            </th>
                    </thead>
                    <tbody *ngIf="guides.length>0">
                      <tr *ngFor="let guide of guides">
                        <td>
                          {{guide.name}}
                        </td>
                        <td>
                          url
                        </td>
                        <td>
                          {{guide.rate}}
                        </td>
                        <td>
                            {{guide.tourcount}}
                          </td>
                          <td>
                              {{guide.phonenumber}}
                            </td>
                            <td>
                                {{guide.salary}}
                              </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://www.ecotravels.com">
                  Website
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script> Eco Travels & Tours
          </div>
        </div>
      </footer>
    </div>
  </div>
  
m
