<!-- <div class="wrapper ">
  <app-sidebar active="guides"></app-sidebar>

  <div class="main-panel" id="main-panel">
    <app-navbar></app-navbar>

    <div style="height: 10px;padding:1" class="panel-header">
    </div>


    <div class="content">
      <div class="row">


        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Send Emails</h5>
            </div>
            <div class="card-body">
             

              <form #guides="ngForm" (ngSubmit)="submitemail()" method="POST" action="www">

                <div class="row">
                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label for="Email1" >Email address</label>
                      <div *ngFor="let email of emails">
                      <input  type="email" class="form-control" id="receivermail"
                        name="receivermail" disabled value="{{email}}" />
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7 pr-1">
                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input [(ngModel)]="subject" type="text" class="form-control" id="subject" name="subject"
                        placeholder="Subject" />
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12 pr-1">
                    <div class="form-group">
                      <label for="message">Content</label>
                      <textarea [(ngModel)]="message" class="form-control" id="message" name="message" rows="10"
                        cols="50">
                          </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 pr-1">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Send <i class="now-ui-icons ui-1_send"></i></button>

                    </div>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Select Email Addresses
            </div>

            <div *ngFor="let guide of guides">
              {{guide.name}}
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table">
                  
                  <tbody>
                    
                    <tr >
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" >
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </td>
                      <td class="text-left">ghdj@gmail.com </td>

                    </tr>
                  </tbody>
                </table>
               
              </div>
            </div>
          </div>


        </div>



      </div>


    </div>


  </div>
</div> -->