<div class="container">
      <h3></h3>
        <!-- <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
            <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Topic</label>
                  <input type="text" formControlName="name" id="subject" class="form-control" placeholder="State your question briefly">
                  <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                      <div *ngIf="messageForm.controls.name.errors.required">The topic is required</div>
                    </div>
                </div>
              </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="message">Description</label>
              <textarea name="message" formControlName="message" id="message" cols="30" rows="10" class="form-control" placeholder="Please elaborate!"></textarea>
              <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                  <div *ngIf="messageForm.controls.message.errors.required">A description is required</div>
                </div>
            </div>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Post" class="btn btn-primary">
          </div>

        </form>		

        <div *ngIf="submitted" class="results">
            <strong>Q: {{ messageForm.controls.name.value }}?</strong>
            <br>
            <span>A: {{ messageForm.controls.message.value }}</span>
          </div> -->
          <form  #questionForm="ngForm" (ngSubmit)="onSubmit(questionForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="questionService.selectedQuestion._id">
            <div class="row form-group">
                <div class="col-md-12">
                  <label>Title
                    <label class="red-text">*</label>
                  </label>
                  <input type="text" name="title" #name="ngModel" [(ngModel)]="questionService.selectedQuestion.title" class="form-control" placeholder="State your question briefly" required>
                </div>
              </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label>Description
                <label class="red-text">*</label>
              </label>
              <textarea name="description" #name="ngModel" [(ngModel)]="questionService.selectedQuestion.description" cols="30" rows="10" class="form-control" placeholder="Please elaborate!" required></textarea>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary" (click)="clickSubmit()" [disabled]="!questionForm.valid">Post</button>
            <button class="btn btn-primary" [disabled]="!questionForm.valid" (click)="resetForm(questionForm)">Cancel</button>
          </div>

        </form>		
      </div>
