<div class="sidebar" data-color="yellow">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a routerLink="/dashboard" class="text-center logo-normal">
      <img [src]="LOGO" alt="" style="padding:10px;width:200px">
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li [ngClass]="(active=='dashboard')?'active':''">
        <a routerLink="/dashboard">
          <i class="now-ui-icons design_app"></i>
          <p>Admin Dashboard</p>
        </a>
      </li>
      <li [ngClass]="(active=='guides')?'active':''">
        <a routerLink="/guides">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>Tour Guides</p>
        </a>
      </li>
      <li [ngClass]="(active=='packages')?'active':''">
        <a routerLink="/packages">
          <i class="now-ui-icons location_map-big"></i>
          <p>Tour Packages</p>
        </a>
      </li>
      <li [ngClass]="(active=='reservations')?'active':''">
        <a routerLink="/reservations">
          <i class="now-ui-icons shopping_credit-card"></i>
          <p>Reservations</p>
        </a>
      </li>
      <li [ngClass]="(active=='image')?'active':''">
        <a href="./image">
          <i class="now-ui-icons shopping_credit-card"></i>
          <p>Image</p>
        </a>
      </li>
    </ul>
  </div>
</div>
