<div class="sidebar" data-color="blue">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="http://www.ecotravels.com" class="simple-text logo-normal">
      Eco Travels & Tours
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="./dashboard">
          <i class="now-ui-icons design_app"></i>
          <p>Admin Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./guides">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>Tour Guides</p>
        </a>
      </li>
      <li>
        <a href="./customers">
          <i class="now-ui-icons users_single-02"></i>
          <p>Customer Stats</p>
        </a>
      </li>
      <li>
        <a href="./packages">
          <i class="now-ui-icons location_map-big"></i>
          <p>Tour Packages</p>
        </a>
      </li>
      <li>
        <a href="./reservations">
          <i class="now-ui-icons shopping_credit-card"></i>
          <p>Reservations</p>
        </a>
      </li>
    </ul>
  </div>
</div>
