.details{
    max-height: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.topic{
    font-weight:bold
}

.field{
    height: 40px;
  -webkit-box-shadow: none;
  padding: 5px;
  margin: 5px;
  box-shadow: none;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: rgb(243, 243, 243);
  border: 1px solid #ffdd00;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}