<div style="width:400px">
        <h2 class="text-center">{{tour.package}}</h2>
        <hr>
        <h4 class="text-danger text-center">*Do you wish to reserve this package with following details</h4>
        <div class="col-md-12" style="margin-bottom:25px">
            <div class="topic">Tour package Name:</div>
            <div class="field text-center" >{{tour.package}}</div>
            <div class="topic">Reserved Date:</div>
            <div class="field text-center" >{{reservation.date}}</div>
            <div class="topic">No of Guests:</div>
            <div class="field text-center" >{{reservation.guestcount}}</div>
            <div class="topic">Total Price:</div>
            <div class="field text-center" >{{tour.price}}.00 Rs</div>
        </div>
        <div class="text-center" style="margin-top:100px">
                <button  mat-dialog-close  class="btn btn-primary" style="margin:5px;width: 100px">Close</button>
                <button  class="btn btn-danger btn-round"  [mat-dialog-close]="true" style="margin:5px;width:100px">Reserve</button>
        </div>       
</div>
