<div class="col-md-12">
  <div class="row">
    <div *ngIf="packages.length>0" class="wrap-division">
      <div *ngFor="let package of packages" class="col-md-4 col-sm-4">
        <div class="tour">
          <a routerLink="/tourplaces/{{package._id}}" class="tour-img"
            [ngStyle]="{'background-image':'url('+url+'/tourpackages/'+ package.coverimage + ')'}">
            <p class="price"><span>{{package.price}} Lkr</span> <small>/ {{package.duration}}</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i
                  class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
              {{package.reviews}} Reviews</p>
            <h2><a routerLink="/tourplaces/{{package._id}}">{{package.package}}</a></h2>
            <span class="city">{{package.location}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>