<div class="col-md-9">
  <div class="row">
    <div class="wrap-division">
      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" [ngStyle]="{'background-image':'url(http://localhost:3000/tourpackages/'+ package.coverimage + ')'}">
            <p class="price"><span>{{package.price}}</span> <small>/ {{package.coverimage}}</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-2.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-3.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-4.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-5.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-6.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-7.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="tour">
          <a href="tour-place.html" class="tour-img" style="background-image: url(../../assets/images/tour-8.jpg);">
            <p class="price"><span>$1500</span> <small>/ 3 Days</small></p>
          </a>
          <span class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h2><a href="tour-place.html">Family Tour in Greece</a></h2>
            <span class="city">Athens, Greece</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>