// add this file to .gitIgnore

module.exports = {
    //Generate relevent keys and ids from your api service and paste them in current place
    google:{
        clientID:<Your-google-client-Id>,
        clientSecret:<Your-googl-client-Secret-key>
    },
    session:{
        cookieKey:<your-cookie-key> //Any key word you want to use
    },
    mongouri:{
        uri:<your-project-mongo-connection-string>
    }
};