<div class="col-md-9">
  <div class="row">
    <div class="wrap-division">
      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-1.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-2.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-3.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-4.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-5.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-6.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-7.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 animate-box">
        <div class="hotel-entry">
          <a href="hotel-room.html" class="hotel-img" style="background-image: url(./assets/images/hotel-8.jpg);">
            <p class="price"><span>$120</span><small> /night</small></p>
          </a>
          <div class="desc">
            <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
            <h3><a href="hotel-room.html">Hotel Edison</a></h3>
            <span class="place">New York, USA</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>