.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-full-width{
    margin-top: 20px;
    width: 100%;
  }

  label {
    margin-top: 0px;
  }

  .cusname{
    margin-top: 10px;
    font-size: 12px;
    color:rgb(109, 110, 110);
  }

  .date{
    margin-left: 10px;
    font-size: 12px;
    color:rgb(109, 110, 110);
  }

  .rate{
    margin-left: 10px;
    font-size: 12px;
    color:rgb(109, 110, 110);
    border: 5px;
  }

  .comment {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(105, 104, 10);

  }

  .mat-progress-bar{
    margin-top: 8px;
  }

  .rateValue{
    font-size: 50px;
  }

  
  
  