<!-- import main navigation component -->
<app-index-main-nav></app-index-main-nav>

<!-- import servises header image component -->
<app-services-header></app-services-header>

<!-- import services-services component -->
<app-services-services></app-services-services>

<!-- import reviews component -->
<app-index-reviews></app-index-reviews>

<!-- import subscribe component -->
<app-index-subscribe></app-index-subscribe>

<!-- import footer component -->
<app-footer></app-footer>

<!-- import arrow-up component -->
<app-arrow-up></app-arrow-up>