<div class="wrapper ">
  <app-sidebar active="gallery"></app-sidebar>

  <div class="main-panel" id="main-panel">
    <app-navbar></app-navbar>

    <div class="panel-header panel-header-lg">
      <canvas id="bigDashboardChart3"></canvas>
    </div>
    <div class="content">    
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4 pl-1">
                  <a class="btn btn-success" href="addimage" >Add Image</a>
                </div>
                
                <div *ngIf="gallery.length > 0">
                  <div class="row">
                  <div *ngFor="let package of gallery| paginate: { itemsPerPage: 9, currentPage: p }">
                    
                    <mat-card class="example-card">
                      <mat-card-header> 
                      </mat-card-header>
                      <img
                        class="avatar border-gray"
                        [src]="url+package.galleryimage"
                        alt=""
                        style="width: 300px;height: 200px;"
                        matTooltip={{package.name}}
                      />
                      <mat-card-content>
                          <p style="width: 300px;">
                              {{package.description}} 
                          </p>
                        </mat-card-content>
                      <input  [(ngModel)]="name" type="hidden" id="name" name="name"
                      value={{package.name}} />
                      <!-- <input  type="hidden" name="name" value={{package.name}}> -->
                      <mat-card-actions>
                        <button mat-raised-button (click)="delete()" color="warn">Delete</button>
                        <!-- <button mat-raised-button href="addimage" color="primary">Update</button> -->
                        <button mat-raised-button color="primary" (click)="updatePage('5cf3253a4ebfe04e38e30a3d')" >Update</button>
                      </mat-card-actions>
                    </mat-card>
                    
                  </div>
                  </div>

                </div>
              
              </div>
          <!-- <div class="row">
            <div class="col-md-12 text-center">
              <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div> -->
          <div class="text-center">
            <pagination-controls
              class="my-pagination"
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
    
    
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <a href="http://www.ecotravels.tk">
                Website
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script> Eco Travels & Tours
        </div>
      </div>
    </footer>
  </div>
</div>



