<div class="wrapper ">
    <app-sidebar active="customers"></app-sidebar>
  
    <div class="main-panel" id="main-panel">
      <app-navbar></app-navbar>
  
      <div style="height: 10px;padding:1" class="panel-header"></div>
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-category">Post Deletions</h5>
                      <div class="col-md-3 text-left">
                        <h4 class="card-title text-warning">
                          <p>Q & A Forum</p>
                        </h4>
                      </div>
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>
                                    #
                                  </th>
                                  <th>
                                    Question Title
                                  </th>
                                  <th class="text-right">
                                    
                                  </th>
                                </thead>
                                <tbody *ngIf="packages.length > 0">
                                  <tr *ngFor="let qstn of questionService.questions" >
                                    <td>
                                      1
                                    </td>
                                    <td>
                                      {{ qstn._id }}
                                    </td>
                                    <td class="text-right">
                                      <button></button>>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          


                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="http://www.ecotravels.tk">
                  Website
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script> Eco Travels & Tours
          </div>
        </div>
      </footer>
    </div>
  </div>
  